html {
  font-family: "Merienda", Helvetica, Arial;
  font-size: 16px;
  color: #000;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__wrapper {
  padding: 40px 0;
}

.user-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 500px;
  margin-bottom: 24px;
}

.user-list__image {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.user-list__item {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.user-list__info {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.user-list__email {
  color: grey;
}

.btn {
  border: 1px solid grey;
  border-radius: 8px;
  background: transparent;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
}

.user-list__btn {
  width: 60px;
}